# Auto detect text files and perform LF normalization
* text=auto
*.h linguist-language=cpp
*.c linguist-language=cpp

vendor/* linguist-vendored
include/external/* linguist-vendored

*.csproj linguist-vendored
*.sln linguist-vendored

path/to/file.c linguist-detectable=false
